.background{
    height: 90px;
    width: 90px;
    position: absolute;
    background-color: blueviolet;
    top: 25%;
    left: 0;
    right: 0;
    text-align: left;
    display: inline-block;
    margin: auto;
    transform: rotateZ(45deg);
}
.rotating {
    height: 30px;
    width: 30px;
    margin: 0;
    display: block;
    position: relative;
    float: left;
}
.rotating::before{
    content: "";
    position: absolute;
    background-color:coral;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    animation: rotatingcube 1.3s infinite linear;
    transform-origin: center;
}
.rotating1::before{
    animation-delay: 0.2s;
}
.rotating2::before{
    animation-delay: 0.4s;
}
.rotating3::before{
    animation-delay: 0.6s;
}
.rotating4::before{ 
    animation-delay: 0.4s;
}
.rotating5::before{
    animation-delay: 0.6s;
}
.rotating6::before{
    animation-delay: 0.8s;
}
.rotating7::before{
    animation-delay: 0.6s;
}
.rotating8::before{ 
    animation-delay: 0.8s;
}
.rotating9::before{
    animation-delay: 1s;
}
@keyframes rotatingcube{
0%, 75%, 100%{
    transform: scale3d(1,1,1);
}
50%{
    background-color: whitesmoke;
}
25%{
    transform: scale3d(0,0,1);
}
}