html {
    scroll-behavior: smooth;
  }
body{
      margin : 0;
      font-family: "Rubik", sans-serif;
      background-color: #353353;
  }
img{
      vertical-align: middle;
      max-width: 100%;
      height: auto;
  }
ul{
      list-style: none;
      display: flex;
      justify-content: center;
  }
a{
      text-decoration: none;
  }
*{
      padding: 0;
      box-sizing: border-box;
      color: white;
  }
nav{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-self: flex-start; 
      align-items: center;
  }
.nav-link{
    color: azure;
    font-size: 16px;
    font-weight: 700;
}
.mb-0{
    margin-bottom: 0!important;
}
.mt-0{
    margin-top: 0!important;
}
.mb-1{
    margin-bottom: 0.25!important;
}
.mt-1{
    margin-top: 0.25!important;
}
.mb-2{
    margin-bottom: .5rem!important;
}
.mt-2{
    margin-top: .5rem!important;
}
.mt-3{
    margin-top: 1rem!important;
}
.mb-3{
    margin-bottom: 1rem!important;
}
.mt-4{
    margin-top: 1.5rem!important;
}
.mb-4{
    margin-bottom: 1.5rem!important;
}
.fixed-header{
      position: fixed;
      background-color: #353353;
      width: 100vw;
      padding: 20px 0;
      z-index: 1000;
      border-bottom: solid 1px rgba(255, 255, 255, 0.1);
  }
section{
      padding-top: 100px;
      display: block;
      min-height: 100vh;
  }
section.home {
      background: #353353;
      padding: 0;
      height: 100vh;
  }
.nav-btn{
        display: flex;
        flex-direction: row;
        margin-left: auto;
  }
.nav-item{
    padding-right: 50px;
    list-style-type: none;
  }
.nav-link:hover{
      color: #FFD15C !important;
  }
.active{
    color: #FFD15C !important;
}
.title{
      color:white;
      text-align: center;
      position: relative;
      margin: auto;
      box-sizing: border-box;
      z-index: 1;

  }
.container{
    margin-left: auto;
    margin-right: auto;
}
.center{
    transform: translate(0px, 100%);
}
.brand{
    display: inline-block;
}
.navbar{
    display: flex;
    flex-grow: 1;
    opacity: 1;
    transition: all 1s linear;
}
.social-icons{
    margin-top: 1.5rem!important;
}
.social-icons li:not(:last-child){
    margin-right: 1.5rem;
}
.social-icons li a i{
    color: white;
}
.hire-background{
    
}
.btn{
    border: 1px solid transparent;
    padding: 12px 32px;
    border-radius: 30px;
}

.hire-btn{
    background-color: #FF4C60;;
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    color: white;
}
.section-title{
    color: white;
    margin-bottom: 3.5rem!important;
}
.statistic{
    background-color: #302f4e !important;
    position: relative;
    letter-spacing: 0.5px;
    border-radius: 30px;
    color: white;
}
.mar20{
    margin: 20px;
}
.grid-container{
    display: grid;
}
#intro{
    grid-template-columns: 20% 80%;
    column-gap: 0px;
}
#grid-4-6{
    grid-template-columns: 50% 50%;
}
.left{
    text-align: left;
}
.float-right{
    float: right;
}
.float-left{
    float: left;
}
h4{
    display: inline-block;
}
.inline{
    display: inline-block;
}
.width100 > h4{
    margin: 0.5rem 0;
}
.width100 > .float-right {
    transform: translateY(100%);
}
.width100{
    width: 100%;
}
.progress{
    height: 7px;
    border-radius: 3px;
    background-color: wheat;
    width: 100%;
}
.grid-container > mar20 > mb-4 {
    margin-top: auto;
}
.row{
    display: grid;
}
.achievement{
    grid-template-columns: 25% 25% 25% 25%;
}
.achieve-items{
    text-align: left;
    margin-left: 25px;
    position: relative;
}
.achieve-items > i {
    color: white;
    font-size: 50px;
    display: inline-block;
    position: absolute;
    top: 20px;
}
.achieve-details > h2{
    display: inline-block;
    margin-bottom: 5px;
}
.achieve-details > p {
    margin-top: 0px;
}
.achieve-details{
    margin-left: 60px;
    display: inline-block;
    color: white;
}
#row-three {
    grid-template-columns: 30% 30% 30%;
    column-gap: 35px;
}
#row-two{
    grid-template-columns: 49% 49%;
    height: 100%;
    column-gap: 2%;
}
.service-items > img {
    display: inline-block;
}
.service-items{
    text-align: center;
    border-radius: 15px;
    color: white;
    padding: 30px 50px;
    box-shadow:  0px 5px 20px 0px rgb(165, 165, 165);
    transition: all 0.2s linear;
}
.service-items:hover{
    transform: translateY(-10px);
}
.statistic::before{
    content: "";
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 15px solid #302f4e;
    position: absolute;
    left: -15px;
    top: 20%;
}
.experience-row{
    padding: 30px;
    background: #302f4e !important;
    border-radius: 20px;
    position: relative;
}
.line{
    position: absolute;
    width: 1px;
    background-color: #FF4C60;
    top: 30px;
    bottom: 30px;
    left: 30px;
}
.experience-items{
    padding-left: 35px;
    margin-bottom: 50px;
    position: relative;
}
.timeline-container::after{
    content: "î€™";
    background: #302f4e !important;
    font-family: "simple-line-icons";
    font-size: 24px;
    color: #FF4C60;
    position: absolute;
    left: -12px;
    top: -5px;
    z-index: 1;
}
.timeline-container .content span {
    color: #8B88B1;
    font-size: 14px;
}
.timeline-container .content h3{
    font-size: 20px;
    margin: 20px 0;
}
.timeline-container .content p{
    margin: 0;
}
.portfolio-filter{
    text-align: left;
    justify-content: end;
}
.inline-items{
    margin-right: 1.8rem;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}
.workgrid{
    display: flex;
    margin-top: 4rem;
    position: relative;
    flex-wrap: wrap;
}
.block-items{
    flex: 0 0 33%;
    max-width: 33%;
    border-radius: 20px !important;
    padding: 1.5%;
    position: relative;
}
.thumb{
    overflow: hidden;
    border-radius: 20px !important;
    position: relative;
}
.current{
    color: #FF4C60;
}
.details{
    height: 100%;
    width: 100%;
    position: absolute;
    color: #353353;
    overflow: hidden;
}
.term{
    color: #FFF;
    background: #FF4C60;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 14px;
    opacity: 0;
    display: inline-block;
    padding: 3px 10px;
    position: absolute;
    top: 0;
    left: 20px;
    transition:  all cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
    transform: translateY(-30px);
    z-index: 1;
}
.mask{
    background: #6C6CE5;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
    transition: all 0.3s ease-in-out;
}
.block-items:hover .mask{
    opacity: 0.9;
}
.block-items:hover .term{
    opacity: 1;
    transform: translateY(0px);
}
.work-title{
    color: rgb(255, 255, 255);
    font-size: 22px;
    margin: 0 0 10px;
    padding: 0 20px;
    opacity: 0;
    position: absolute;
    top: 60px;
    z-index: 1;
    transition:  all cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}
.block-items:hover .work-title{
    opacity: 1;
}
.icon-toggler{
    background-image: url("./download.svg");
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background-size: 100% 100%;
    color: rgba(255,255,255,.5);
    font-size: 1.25rem;
    line-height: 1;
}
button{
    color: rgba(255,255,255,.5);
    border-color: rgba(255,255,255,.1);
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
    -webkit-appearance: button;
    text-transform: none;
    overflow: visible;
    margin: 0;
    font-family: inherit;
}
.show{
    display: none;
    opacity: 0;
}
@property --num {
    syntax: '<integer>';
    initial-value: 0;
    inherits: false;
}
.cup{
    transition: --num 5s;
    counter-reset: num var(--num);
}
@property --progress{
    syntax: '<integer>';
    initial-value: 0;
    inherits: false;
}
.percent{
    width: 0%;
    transition: width 2s ease-in-out;
}
.cup:hover{
    --num : 192;
}
.cup::after{
    content: counter(num);
}
