html {
    scroll-behavior: smooth;
  }
body{
      margin : 0;
      font-family: "Rubik", sans-serif;
      background-color: #353353;
  }
img{
      vertical-align: middle;
      max-width: 100%;
      height: auto;
  }
ul{
      list-style: none;
      display: flex;
      justify-content: center;
  }
a{
      text-decoration: none;
  }
*{
      padding: 0;
      box-sizing: border-box;
      color: white;
  }
nav{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-self: flex-start; 
      align-items: center;
  }
.nav-link{
    color: azure;
    font-size: 16px;
    font-weight: 700;
}
.mb-0{
    margin-bottom: 0!important;
}
.mt-0{
    margin-top: 0!important;
}
.mb-1{
    margin-bottom: 0.25!important;
}
.mt-1{
    margin-top: 0.25!important;
}
.mb-2{
    margin-bottom: .5rem!important;
}
.mt-2{
    margin-top: .5rem!important;
}
.mt-3{
    margin-top: 1rem!important;
}
.mb-3{
    margin-bottom: 1rem!important;
}
.mt-4{
    margin-top: 1.5rem!important;
}
.mb-4{
    margin-bottom: 1.5rem!important;
}
.fixed-header{
      position: fixed;
      background-color: #353353;
      width: 100vw;
      padding: 20px 0;
      z-index: 1000;
      border-bottom: solid 1px rgba(255, 255, 255, 0.1);
  }
section{
      padding-top: 100px;
      height: 100vh;
      display: block;
  }
section.home {
      background: #353353;
      padding: 0;
  }
.nav-btn{
        display: flex;
        flex-direction: row;
        margin-left: auto!important;
  }
.nav-item{
    padding-right: 50px;
    list-style-type: none;
  }
.nav-link:hover{
      color: yellow;
  }
.active{
    color: yellow;
}
.title{
      color:white;
      text-align: center;
      position: relative;
      margin: auto;
      box-sizing: border-box;
      z-index: 1;

  }
.container{
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 1200px){
.container {
    max-width: 920px;
}
}

@media (min-width: 576px){
    .container {
        max-width: 540px;
    }
}
@media (min-width: 758px){
    .container {
        max-width: 720px;
    }
}
@media only screen and (min-width: 768px){
    .container {
        max-width: 920px;
    }
}
@media (min-width: 992px){
    .container {
        max-width: 960px;
    }
}
@media (min-width: 1366px){
    .container {
        max-width: 1080px;
    }
    }
.center{
    transform: translate(0px, 100%);
}
.brand{
    display: inline-block;
}
.navbar{
    display: flex;
    flex-grow: 1;
}
.social-icons{
    margin-top: 1.5rem!important;
}
.social-icons li:not(:last-child){
    margin-right: 1.5rem;
}
.social-icons li a i{
    color: white;
}
.hire-background{
    
}
.btn{
    border: 1px solid transparent;
    padding: 12px 32px;
    border-radius: 30px;
}

.hire-btn{
    background-color: red;
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    color: white;
}
.section-title{
    color: white;
    margin-bottom: 3.5rem!important;
}
.statistic{
    background-color: #302f4e !important;
    position: relative;
    letter-spacing: 0.5px;
    border-radius: 30px;
    color: white;
}
.mar20{
    margin: 20px;
}
.grid-container{
    display: grid;
}
#intro{
    grid-template-columns: 20% 80%;
    column-gap: 0px;
}
#grid-4-6{
    grid-template-columns: 50% 50%;
}
.left{
    text-align: left;
}
.float-right{
    float: right;
}
.float-left{
    float: left;
}
h4{
    display: inline-block;
}
.inline{
    display: inline-block;
}
.width100 > h4{
    margin: 0.5rem 0;
}
.width100 > .float-right {
    transform: translateY(100%);
}
.width100{
    width: 100%;
}
.progress{
    height: 7px;
    border-radius: 3px;
    background-color: wheat;
    width: 100%;
}
.grid-container > mar20 > mb-4 {
    margin-top: auto;
}
.row{
    display: grid;
}
.achievement{
    grid-template-columns: 25% 25% 25% 25%;
}
.achieve-items{
    text-align: left;
    margin-left: 25px;
    position: relative;
}
.achieve-items > i {
    color: white;
    font-size: 50px;
    display: inline-block;
    position: absolute;
    top: 20px;
}
.achieve-details > h2{
    display: inline-block;
    margin-bottom: 5px;
}
.achieve-details > p {
    margin-top: 0px;
}
.achieve-details{
    margin-left: 60px;
    display: inline-block;
    color: white;
}
#row-three {
    grid-template-columns: 30% 30% 30%;
    column-gap: 35px;
}
#row-two{
    grid-template-columns: 49% 49%;
    height: 100%;
    column-gap: 2%;
}
.service-items > img {
    display: inline-block;
}
.service-items{
    text-align: center;
    border-radius: 15px;
    color: white;
    padding: 30px 50px;
    box-shadow:  0px 5px 20px 0px white;
    transition: all 0.2s linear;
}
.service-items:hover{
    transform: translateY(-10px);
}
.statistic::before{
    content: "";
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 15px solid #302f4e;
    position: absolute;
    left: -15px;
    top: 20%;
}
.experience-row{
    padding: 30px;
    background: #302f4e !important;
    border-radius: 20px;
    position: relative;
}
.line{
    position: absolute;
    width: 1px;
    background-color: #FF4C60;
    top: 30px;
    bottom: 30px;
    left: 30px;
}
.experience-items{
    padding-left: 35px;
    margin-bottom: 50px;
    position: relative;
}
.timeline-container::after{
    content: "î€™";
    background: #302f4e !important;
    font-family: "simple-line-icons";
    font-size: 24px;
    color: #FF4C60;
    position: absolute;
    left: -12px;
    top: -5px;
    z-index: 1;
}
.timeline-container .content span {
    color: #8B88B1;
    font-size: 14px;
}
.timeline-container .content h3{
    font-size: 20px;
    margin: 20px 0;
}
.timeline-container .content p{
    margin: 0;
}
.portfolio-filter{
    text-align: left;
    justify-content: end;
}
.inline-items{
    margin-right: 1.8rem;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}
.work-grid{
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 263px 263px 263px;
    gap: 3%;
    height: 990px;
    margin-top: 4rem;
}
.block-items{
    width: 100%;
    height: 100%;
    border-radius: 20px !important;
    padding: 0;
}
.thumb{
    overflow: hidden;
    border-radius: 20px !important;
}