.hoverbox {
    width: 500px;
    height: 300px;
    text-align: left;
    background: linear-gradient(to top, blue,white);
    margin : auto;
    margin-top: 50px;
    transition-property: all;
    transition-delay: 0s;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    overflow: hidden;
    position: relative;
}
.hoverbox:hover img{
    opacity: 0.4;
}
img{
    display: block;
    position: relative;
    transition: all 0.5s ease-in-out;
}
figcaption{
    color: white;
    font-family: 'Raleway', Arial, sans-serif;
    position: absolute;
    height: 300px;
    width: 500px;
    top: 0;
}
figcaption h2{
    top: 200px;
    position: relative;
    transition: top 0.5s ease-in-out;
    text-align: center;
}
.hoverbox:hover figcaption h2{
    top: 5px;
}
figcaption p {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    position: relative;
    left: 50px;
}
.hoverbox:hover figcaption p{
    opacity: 1;
}
.hoverbox:hover img{
    transform: scale(1.1);
}